/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap'); */
/* common css  */
*{margin: 0; padding:0;}
html{
    font-family: 'Raleway', sans-serif; scroll-behavior: smooth; box-sizing: border-box;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
a{text-decoration: none;}
/* rewrite container css */
#header .header-top{
    text-align: right;
    background:#ddd;
    padding:5px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

#header .header-top .con{
    width:92%;
}
#header .header-top .top-bar{
    /* width:50%; */
}
#header .header-top a{
    margin-right:10px;
    padding:10px;
    text-transform: uppercase;
    color:rgba(0, 0, 0, 0.63);
    font-size:14px;
    font-weight:500;
}
#header .header-top a:hover{
    text-decoration:underline;
    color:rgb(241, 141, 26);
    transition: .2s all ease-in-out;
}
#header .header-top .button{
    background:whitesmoke;
    width:40px;
    height:20px;
    border-radius: 10px;
    cursor: pointer;
  
}

#header .header-top .button .dark{
    background: rgba(0, 0, 0, 0.678);
    width:20px;
    height:20px;
    border-radius: 50%;
}



#header nav .navbar-brand{
    font-family: 'Lobster', cursive;
}
#header .navbar ul li{
    margin:5px;
}
#header .navbar ul li a{
    text-transform:capitalize;
    font-size:18px;
}

#slide{
    background:url(/assets/img/header.jpg), no-repeat;
    height:70vh;
    background-position:center;
    background-size: cover;
}
