*{margin:0;padding:0}
a{text-decoration: none;}

body.active{
    background:rgb(52, 52, 53);
}
body.active #header{
    background:rgb(51, 50, 50);
    color:white;
}

#header{
    background:#ddd;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#header .top a{
    color:#000;
}
body.active #header .top a{
    color:whitesmoke;
}
#header .top-btn .btn{
    width:40px;
    height:20px;
    background: rgb(160, 158, 158);
    border-radius: 10px;
    position: relative;
    cursor:pointer;
    transition: .5s ease all;
}

#header .top-btn .btn::after{
    position: absolute;
    content:"";
    width:20px;
    height:20px;
    background:rgba(89, 90, 89, 0.753);
    border-radius: 10px;
    
}
#header .top-btn .btn.active{
    background:green;   
}
#header .top-btn .btn.active::after{
    right:0;
    background: whitesmoke;

}
#header .top{
    margin-right:20px;
}
.slider-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100Vh;
}

.slide-contant{
    text-align: center;
}

.slide-contant i,
.slide-contant h2{
    font-size:10rem;
}